@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #313131;
  --gray600: #838383;
  --gray500: #a9a9a9;
  --gray400: #d9d9d9;
  --gray100: #e1e1e1;
  --blue900: #0099cc;
  --blue700: #00bfff;
  --blue400: #bfe5f2;
  --blue300: #d9f0f7;
  --blue100: #f2fafc;
  --bgAlertSuccess: #f0fdf4;
  --alertSuccess: #54e087;
  --bgAlertError: #fef2f2;
  --alertError: #f87171;
  --bgAlertInfo: #eff6ff;
  --alertInfo: #60a5fa;
  --bgAlertWarning: #fefce8;
  --alertWarning: #facc15;
}

@font-face {
  font-family: "IBMPlexSerifBold";
  src: local("fonts"),
    url(~/assets/fonts/IBMPlexSerif-Bold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSerifSemiBold";
  src: local("fonts"),
    url(~/assets/fonts/IBMPlexSerif-SemiBold.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSerifMedium";
  src: local("fonts"),
    url(~/assets/fonts/IBMPlexSerif-Medium.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "IBMPlexSerifRegular";
  src: local("fonts"),
    url(~/assets/fonts/IBMPlexSerif-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "InterRegular";
  src: local("fonts"), url(~/assets/fonts/Inter-Regular.ttf) format("truetype");
  font-display: swap;
}

@layer base {
  h1 {
    font-family: "IBMPlexSerifBold";
  }

  h2 {
    font-family: "IBMPlexSerifSemiBold";
  }

  h3,
  h4 {
    font-family: "IBMPlexSerifMedium";
  }

  html {
    font-family: "InterRegular", sans-serif;
    color: var(--dark);
    scroll-behavior: smooth;
  }

  .label {
    font-family: "IBMPlexSerifMedium";
  }

  .serif {
    font-family: "IBMPlexSerifRegular";
  }
}

@layer components {
  .text-input {
    @apply px-3 py-2 text-[--gray500] focus:outline-none;
  }
  .btn {
    @apply px-3 py-2 rounded-sm;
  }
  .btn-blue-inverse {
    @apply bg-[--blue300] hover:text-white hover:bg-[--blue700] active:bg-[--blue700];
  }
  .btn-blue {
    @apply bg-[--blue900] text-white hover:bg-[--blue700];
  }
  .btn-hover-blue {
    @apply text-[--gray600] hover:text-[--blue900] active:text-[--blue900];
  }
  .btn-transparent-blue {
    @apply hover:bg-[--blue900] hover:text-white;
  }
  .img-users {
    @apply object-cover rounded-full border-2 border-[#fff6e7] h-[48px] w-[48px];
  }
  .img-container {
    @apply w-[200px] h-[200px] border-4 border-dashed rounded-xl lg:w-[320px] lg:h-[320px];
  }
  .limit-width {
    @apply px-2 lg:px-16 2xl:container 2xl:mx-auto;
  }
  .heading-1 {
    @apply text-4xl pb-4;
  }
  .heading-2 {
    @apply text-3xl pb-4;
  }
  .img-bordered {
    @apply border-4 border-[--gray400] rounded-sm object-cover;
  }
  .img-support {
    @apply object-cover rounded-full w-[50px] border-2 border-[#fff6e7] h-[50px] absolute;
  }
  .alert {
    @apply flex gap-x-4 text-xs items-center px-4 py-2 my-4 md:text-sm lg:pl-8;
  }
  .popup-background {
    @apply fixed inset-0 backdrop-blur-sm backdrop-opacity-95 bg-white/30;
  }

  .badge {
    @apply bg-[--alertSuccess] text-white rounded-lg p-1 text-xs;
  }
}
